/* Glitch effect for the logo */
#logo {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: #f6d8d5;
    font-size: 150px;
    transition: transform 0.1s;
}

#logo:hover {
    text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
    0.025em 0.05em 0 #50c878;
    color: rgba(0, 194, 203, 0.2);
    animation: shake 0.5s infinite;
}

#logo:before,
#logo:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

#logo:hover::before {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
}

#logo:hover::after {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 65%, 100% 20%, 100% 100%, 0 70%);
    transform: translate(0.0125em, 0.025em);
}

@keyframes glitch {
    0% {
        color: rgba(236, 34, 37, 0.2);
        text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
        0.025em 0.05em 0 #50c878;
    }
    14% {
        text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
        0.025em 0.05em 0 #50c878;
    }
    15% {
        color: #50c878;
        text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
        -0.05em -0.05em 0 #50c878;
    }
    49% {
        text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
        -0.05em -0.05em 0 #50c878;
    }
    50% {
        text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
        0 -0.05em 0 #50c878;
    }
    99% {
        color: #313f97;
        text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
        0 -0.05em 0 #50c878;
    }
    100% {
        text-shadow: -0.025em 0 0 #ec2225, -0.025em -0.025em 0 #313f97,
        -0.025em -0.05em 0 #50c878;
    }
}

/* Shake effect */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Hover effect for profile and cart icons */
.navbar-brand:hover {
    color: blue;
}


.navbar-brand .icon:hover {
    color: blue;
}